on:
  schedule:
    - cron: '37 * * * *'
name: results
jobs:
  update:
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout ad-hoc-wpt-results-analysis
      uses: actions/checkout@master
      with:
        repository: foolip/ad-hoc-wpt-results-analysis
        ref: master
        fetch-depth: 1
        path: ad-hoc-wpt-results-analysis
    - name: Setup node.js
      uses: actions/setup-node@master
      with:
        node-version: 10.x
    - name: Install
      run: npm ci
      working-directory: ../ad-hoc-wpt-results-analysis
    - name: Update
      run: node git-write.js --limit=200
      working-directory: ../ad-hoc-wpt-results-analysis
    - name: Push new runs
      run: |
        git remote set-url --push origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY
        git push origin --tags
      working-directory: ../ad-hoc-wpt-results-analysis/wpt-results.git
